# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# Environment variables
.env

# Generated windowed data
preprocessing/windowed_output/

# Trained models (uncomment if you don't want to track them)
# *.h5
# *.keras
# *.pth
# *.joblib
# *.pkl

# Large datasets (adjust paths as needed)
# data/
# dataset/

preprocessing/windowed_output/
data/